*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  --color-primary: #0b1423;
  --color-secondary: #eab217;
  --color-maastricht-blue: #07252f;
  --color-cadet: #5a6875;
}